exportPattern("^[[:alpha:]]+")
importFrom(truncnorm, rtruncnorm)
importFrom(truncdist, rtrunc)
importFrom(coda, as.mcmc)
importFrom(coda, HPDinterval)
importFrom(MASS, mvrnorm)
importFrom(MASS, ginv)

